<div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3 pt-5">
  <div class="card">
    <h5 class="card-header" i18n>
      Please provide your data to log in.
    </h5>
    <div class="card-body">

      <div *ngIf="isLoading" class="text-center">
        <app-loading-spinner></app-loading-spinner>
      </div>

      <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" *ngIf="!isLoading">

        <div class="form-group">
          <label for="email" i18n>Email address</label>
          <input type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email"
                 #email="ngModel" email [class.is-invalid]="email.invalid" required/>

          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="invalid-feedback">
            <div *ngIf="email.errors.required" i18n>
              Email is required.
            </div>

            <div *ngIf="email.errors.email" i18n>
              Please, indicated a valid email address.
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="password" i18n>Password</label>
          <input type="password" class="form-control" id="password" name="password" required [(ngModel)]="user.password"
                 #password="ngModel" minlength="4" [class.is-invalid]="password.invalid"/>

          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid-feedback">
            <div *ngIf="password.errors.required" i18n>
              Password is required.
            </div>

            <div *ngIf="password.errors.minlength" i18n>
              Password must be have at least {{password.errors.minlength.requiredLength}} characters length.
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid" i18n>
          Log In
          <fa-icon [icon]="icons.signInAlt"></fa-icon>
        </button>
      </form>
    </div>
  </div>
</div>
