<div class="row">
  <h1 class="text-center col-6 offset-3 mt-3" i18n>
    Welcome {{this.user.name}}!
  </h1>

  <app-alert *ngIf="alert.message !== null" class="mt-4" [message]="alert.message"></app-alert>

  <div class="col-12 mt-3 text-center" *ngIf="isLoading">
    <app-loading-spinner></app-loading-spinner>
  </div>

  <div class="col-12 mt-3" *ngIf="!isLoading">
    <div class="row">
      <app-movie
        class="col-6 col-sm-4 col-lg-3 col-xl-2 mt-3"
        *ngFor="let movie of movies"
        [movie]="movie"></app-movie>
    </div>
  </div>

  <div class="col-6 offset-3 mt-3">
    <a routerLink="/movies/new" class="btn btn-success btn-block" i18n>
      Add movie
      <fa-icon [icon]="icons.plus"></fa-icon>
    </a>
  </div>

</div>
